<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:p="http://www.springframework.org/schema/p"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

<!-- 데이터베이스 정보 읽기 : BasicDataSource -->
<!-- 
	MyBatis : xml, annotation, xml+annotation = 동적쿼리
	Spring : xml, annotation, xml+annotation , Java
 -->
 
 <!-- AOP  -->
 <!-- 사용자 정의 클래스 -->
 <!-- MVC 한글 변환 -->
 <bean id="ds" class="org.apache.commons.dbcp.BasicDataSource"
 	p:driverClassName="oracle.jdbc.OracleDriver"
 	p:url="jdbc:oracle:thin:@localhost:1521:XE"
 	p:username="hr"
 	p:password="happy"
 	p:maxActive="10"
 	p:maxIdle="10"
 	p:maxWait="-1"
 />
 
 <!-- Transaction 설정 -->
<!-- 마이바티스 라이브러리로 전송 SqlSessionFactoryBean-->
<bean id="ssf" class="org.mybatis.spring.SqlSessionFactoryBean"
	p:configLocation="classpath:Config.xml"
	p:dataSource-ref="ds"
/>

<!-- Mapper를 구현(인터페이스) MapperFactoryBean(인터페이스 구현)-->
<!-- p:mapperInterface="com.sist.mapper.SeoulMapper" 구현 할 매퍼 -->
<bean id="mapper" class="org.mybatis.spring.mapper.MapperFactoryBean"
	p:sqlSessionFactory-ref="ssf"
	p:mapperInterface="com.sist.mapper.SeoulMapper"
/>

<!-- SeoulDAO 전송 (구현된 매퍼를 전송) SeoulDAO -->
<bean id="dao" class="com.sist.dao.SeoulDAO"
	p:mapper-ref="mapper"
/>

<!-- MainClass로 DAO 전송 MainClass-->
<bean id="mc" class="com.sist.myapp.MainClass"
	p:dao-ref="dao"
/>

</beans>
