<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.EmpMapper">
	<select id="empNameListData" resultType="string">
		select distinct ename from emp
	</select>
	<!-- 
		select * from emp
		where ename IN('A','B','C'...)
	 -->
	 
	 <select id="empInfoData" resultType="EmpVO" parameterType="hashmap">
	 	select * from emp
	 	
	 	<!-- 
	 		prefix : 앞에 첨부
	 		suffix : 뒤에 첨부
	 		suffixOverrides : 제거
	 		prifixOverrides : 제거
	 	 -->
	 	<trim prefix="where ename IN(" suffix= ")" suffixOverrides=")" prefixOverrides="(">
	 		<foreach collection="names" item="name" close=")" separator=",">
	 			#{name}
	 		</foreach>
	 	</trim>
	 </select>
</mapper>