<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- 메모리 할당 -->
	<context:component-scan base-package="com.sist.*"/>
	
	<!--
	클래스 구분자 => 클래스 위에 이 7개중 하나가 있어야 메모리 할당을 한다
	    @Component, = 일반클래스(MainClass, Jsoup, XML파싱, JSON생성, jsoup, manager..)
	    @Repository, = 저장소(DAO)
	    @Service, = DAO여러개를 통합(BI) : 전자정부프레임워크(실무에서 가장 많이 사용)
	    @Controller, = Model(웹) - 페이지 지정(화면)
	    @RestController, = Model(웹) - JSON, 일반데이터 전송(Ajax, Vue, React)
	    @ControllerAdvice, = 웹에서 공통으로 사용되는 예외처리(통합예외처리)
	    @Configuration = 자바로 스프링 환경 설정시에 사용
	-->
</beans>
