<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.recipe-mapper">
	<select id="foodListData" resultType="FoodVO">
		select fno, name, type, rownum
		from (select fno, name, type from food_location order by fno ASC)
		where <![CDATA[
			rownum<=30
		]]>
	</select>
</mapper>