<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.recipe-mapper">
	
	<!-- 
		String sql = "select title FROM recipe";
		ResultSet rs = ps.executeQuery();
		
		While(rs.next()){
			String title = rs.getString(1) ==> resultType="String"
		}
		
		
		String sql = "select no, chef frome recipe";
		while(rs.next()){
			RecipeVO vo = new RecipeVO();
			vo.setNo(rs.getInt(1))
			vo.setTitle(rs.getString(2))
			vo.setChef(rs.getString(3))
			list.add(vo)
		}	==> resultType = RecipeVO
	 -->
	<select id="recipeListData" resultType="RecipeVO">
		select no, title, chef, rownum
		from (select no,title,chef from recipe order by no asc)
		where rownum&lt;=30
	</select>
</mapper>