<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
	<div class="wrapper row3">
	  <main class="container clear">
	    <table class="table">
	      <tr>
	          <img th:src="${vo.hotel_image}" style="width: 100%">
	      </tr>
	    </table>
	    <div style="height: 10px"></div>
	    <table class="table">
	      <tr>
	        <td width=20% class="text-center" colspan="2"><h3 th:text="${vo.name}" style="display:inline;float:left"></h3>&nbsp;<h3 style="color:orange;display:inline;float:left" th:text="${vo.star}"></h3></td>
	      </tr>
	      <tr>
	        <th width=20% class="text-center">주소</th>
	        <td width=80% th:text="${vo.addr}"></td>
	      </tr>
	      <tr>
	        <th width=20% class="text-center">성급</th>
	        <td width=80% th:text="${vo.grade}"></td>
	      </tr>
	      <tr>
	        <th width=20% class="text-center">평점</th>
	        <td width=80% th:text="${vo.star}"></td>
	      </tr>
	      <tr>
	        <th width=20% class="text-center">체크인&체크아웃</th>
	        <td width=80% th:text="${vo.time}"></td>
	      </tr>
	      <tr>
	        <td colspan="2" class="text-right">
	          <input type="button" class="btn btn-sm btn-danger" value="목록"
	            onclick="javascript:history.back()">
	        </td>
	      </tr>
	    </table>
	  </main>
	</div>
	
</body>
</html>